<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <context-param>
    <param-name>tollfree</param-name>
    <param-value>2222-333-555</param-value>
  </context-param>
  <servlet>
    <servlet-name>welcome</servlet-name>
    <servlet-class>com.bmpl.ims.users.WelcomeServlet</servlet-class>
    <init-param>
      <param-name>email</param-name>
      <param-value>amit@yahoo.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/welcome.ims</url-pattern>
  </servlet-mapping>
  <display-name>IMS-Web</display-name>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/error.html</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/error2.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error2.html</location>
  </error-page>
</web-app>